<% if song_url.valid? %>
  <% case provider %>
    <% when :__blank__ %>
    <%= t("games.beatle.shared.blank_url") %>

    <% when :spotify %>
      <%= tag.iframe src: spotify_src,
                   class: "rounded-lg",
                   width: "100%",
                   height: "80",
                   frameBorder: 0,
                   allowfullscreen: "",
                   allow: "autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" %>

    <% when :youtube %>
      [EMBED YOUTUBE]

  <% end %>

<% else %>
  <div class="bg-gray-100 rounded-xl flex justify-center p-2">
    <div class="flex text-gray-400">
      <%= render HeroiconComponent.new(:"play-circle") %>
      <%= render HeroiconComponent.new(:"question-mark-circle") %>
    </div>
  </div>
<% end %>
