<div class="flashes p-8 mb-10 flex bg-yellow-100/40 text-2xl flex flex-col gap-y-8 justify-center text-center">
  <div class="mx-auto text-gray-600">
    <%= render HeroiconComponent.new(:"hand-raised", class: "w-16 h-16") %>
  </div>
  <div class="text-gray-700">
    <%= flash.notice %>
  </div>
</div>
