<% content_for :navigation do %>
  <%= render Links::BackToComponent.new(game_path(@playlist), t("games.shared.back_to_game")) %>
<% end %>

<div class="px-8 flex flex-col gap-y-8">
  <h1 class="text-5xl mb-8"><%= t("games.beatle.shared.results") %></h1>

  <%= render Games::Beatle::Game::ResultsComponent.new(playlist: @playlist) %>
</div>
