<% content_for :navigation do %>
  <%= render Links::BackToComponent.new(root_url, t("shared.buttons.back_to_dashboard")) %>
<% end %>

<div class="px-8 flex flex-col gap-y-8">
  <h1 class="text-5xl mb-8"><%= t("shared.all_games") %></h1>

  <div class="flex flex-col gap-y-8">
    <%= render partial: "game_template", collection: @game_templates, as: :game_template %>
  </div>
</div>
