<div class="games--beatle--playlist--song-url-status text-xs flex gap-x-1" title="<%= text %>">
  <%= render Games::Beatle::Playlist::SongUrlBadgeComponent.new(song_url:) %>
  <span><%= text %></span>
</div>
