<div class="flex gap-x-1">
  <% case phase %>
  <% when "collecting" %>
    <% player.playlist.song_urls.each do |song_url| %>
      <%= render Games::Beatle::Playlist::SongUrlBadgeComponent.new(song_url:, class: "h-6 w-6") %>
    <% end %>
  <% when "guessing" %>
    [GUESSING]
  <% when "ended" %>
    [ENDED]
  <% end %>
</div>
