<section>
  <%= render CardComponent.new do %>
    <div class="flex flex-col gap-y-4">
      <h2 class="text-xl uppercase tracking-wide text-gray-600">
        <%= t("games.beatle.shared.my_songs") %>
      </h2>

      <ul>
        <li>
          <%= player.playlist.song_1_url %>
        </li>
      </ul>
    </div>
  <% end %>
</section>
