<%= turbo_frame_tag to_dom_id do %>
  <section>
    <div class="flex flex-col gap-y-8">
      <% if game.guessing? %>
        <%= render Games::Beatle::GuessingPhaseComponent.new(player:) %>
      <% elsif game.ended? %>
        <%= render Games::Beatle::EndedPhaseComponent.new(player:) %>
      <% else %>
        <%= render Games::Beatle::CollectingPhaseComponent.new(player:) %>
      <% end %>
    </div>
  </section>
<% end %>
