<% content_for :navigation do %>
  <%= render Links::BackToDashboardComponent.new %>
<% end %>


<div class="px-8 flex flex-col gap-y-8">
  <h1 class="text-5xl mb-8"><%= @game_instance.group_name %></h1>


  <div>TODO</div>
</div>
