@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  @apply text-sm text-gray-400;
}

.input {
  @apply p-2 border border-gray-200 rounded border-indigo-600 border-2 bg-gray-100 text-lg w-full focus:ring-indigo-600;
}

.color-input {
  @apply w-full border-indigo-600 border-2 rounded h-12 hover:opacity-90 transition cursor-pointer;
}

.readonly-input {
  @apply p-2 border border-gray-200 rounded border-indigo-600 border-2 bg-gray-100 w-full focus:ring-indigo-600;
}

.field_with_errors .input {
  @apply border-red-400 focus:ring-red-400
}

.button {
  @apply p-2 w-full flex items-center gap-x-1 justify-center rounded-lg bg-indigo-600 text-white cursor-pointer hover:opacity-90 transition;
}

.button[disabled] {
  @apply p-2 w-full flex items-center gap-x-1 justify-center rounded-lg bg-gray-200 cursor-not-allowed text-gray-400;
}

.attractive-button {
  @apply p-2 w-full flex items-center gap-x-1 justify-center rounded-lg bg-teal-500 text-black cursor-pointer hover:opacity-90 transition;
}

.dangerous-button {
  @apply p-2 w-full flex items-center gap-x-1 justify-center rounded-lg bg-red-600 text-white cursor-pointer hover:opacity-90 transition;
}

.ghost-button {
  @apply p-2 w-full flex items-center gap-x-1 justify-center rounded-lg bg-white text-gray-400 cursor-pointer hover:bg-gray-100 hover:text-gray-500 transition
}

details summary {
  @apply cursor-pointer;
}

html, body {
  @apply min-h-screen;
}

body {
  background: repeating-linear-gradient(
    45deg,
    #fbfbfb,
    #fbfbfb 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

.conic-pie {
  --conic-pie-color-base: theme(colors.gray.200);
  --conic-pie-color-completed: theme(colors.green.500);
  --conic-pie-percent: 0%;
  --conic-pie-hole-scale: 0;
  border-radius: 50%;
  background: conic-gradient(var(--conic-pie-color-completed) var(--conic-pie-percent), var(--conic-pie-color-base) 0);
}

.conic-pie::before {
  --conic-pie-hole-color: white;
  @apply rounded-full w-full h-full inline-block origin-center;
  content: '';
  transform: scale(var(--conic-pie-hole-scale));
  background-color: var(--conic-pie-hole-color);
}
