<% if Current.user.present? %>
  <header>
    <div class="flex items-center justify-between bg-gradient-to-br from-indigo-600 to bg-indigo-700 px-8 py-4 text-white text-lg">
      <div class="grow">
        <%= content_for :navigation %>
      </div>
      <div class="shrink-0">
        <%=
          button_to(
            session_path,
            {
              title: t("shared.buttons.sign_out"),
              method: :delete,
              class: "p-1 flex justify-center items-centertext-gray-400 opacity-20 hover:opacity-100 transition"
            }
          ) do
        %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
          </svg>
        <% end %>
      </div>
    </div>
  </header>
<% end %>
