<% if Current.user.present? %>
  <header>
    <div class="flex justify-between bg-gradient-to-br from-indigo-600 to bg-indigo-700 p-4 text-white">
      <%= content_for :navigation %>
    </div>
  </header>
<% end %>
